.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --defaultColor: #d42b4a;
  --defaultHoverColor: #ad243e;
}

::-webkit-scrollbar {
  width: 05px;
  height: 05px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollTrack) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--defaultColor) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--defaultHoverColor);
}
